[user]
	name = adoreblvnk
	email = 83258252+adoreblvnk@users.noreply.github.com
	signingkey = <signingkey>
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[credential]
	credentialStore = gpg
	helper = 
	helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	# lm (log more): graph hash date ref subject_name author
	lm = log --graph --pretty=format:'%C(yellow)%h %C(magenta)%ch%C(auto)%d %C(reset)%s %C(blue)<%an>'
	# ll (log less): hash ref subject_name relative_date author
	ll = log --pretty=format:'%C(yellow)%h%C(auto)%d %Creset%s %C(magenta)%cr'
